<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--add name="NertAppSQLConnectionString" connectionString="Data Source=hp-9000v\sql2005;Database=nert;Trusted_Connection=no;User Id=sa;Password=password;" providerName="System.Data.SqlClient" /-->
		<add name="NertAppSQLConnectionString" connectionString="Data Source=srv31.TRIDENT.NET;Database=nert;Trusted_Connection=no;User Id=nert;Password=tren;" providerName="System.Data.SqlClient"/>
		<add name="NertAppOracleConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.168.9)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RaDb.world)));User Id=sysadm;Password=sysadm;" providerName="Oracle.DataAccess.Client"/>
		<add name="NertAppOracleOleDb" connectionString="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.168.9)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RaDb.world)));User Id=sysadm;Password=sysadm;"/>
		<!--<add name="NertAppOracleOleDbNew" connectionString="Provider=OraOLEDB.Oracle;Data Source=RADB;User Id=sysadm;Password=sysadm;OLEDB.Net=True;" /-->
		<add name="NertAppOracleOleDbNew" connectionString="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.168.9)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RaDb.world)));User Id=sysadm;Password=sysadm;"/>
		<!--add name="NertAppOracleConnectionString" connectionString="Data Source=RADB;User Id=HCHAN;Password=herman123;" providerName="Oracle.DataAccess.Client" /-->
		<!--add name="NertAppOracleConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=209.227.185.14)(PORT=1521)))(CONNECT_DATA=(SID = RADB)));User Id=sysadm;Password=sysadm;" providerName="Oracle.DataAccess.Client" / -->
	</connectionStrings>
	<appSettings>
		<add key="imagePath" value="~/images/"/>
		<!-- Need to specify the path of the captcha default image path -->
		<add key="captchaPath" value="C:\Inetpub\RetirementFunds\images\sample_bg0.jpg"/>
		<add key="verifyHttpsOnLogin" value="false"/>
		<add key="fromAddress" value="test.app.dev@gmail.com"/>
		<add key="toAddress" value=""/>
		<add key="showError" value="1"/>
		<add key="LogErrors" value="True"/>
		<add key="SmtpClientHost" value="smtp.gmail.com"/>
		<add key="SmtpClientUsername" value=""/>
		<add key="SmtpClientPassword" value=""/>
		<add key="SmtpClientPort" value="587"/>
		<add key="SmtpEnableSSL" value="true"/>
	</appSettings>
	<system.web>
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="404.aspx"/>
		</customErrors>
		<pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<siteMap defaultProvider="DefaultSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="DefaultSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap"/>
				<add name="MenuSiteMapProvider" description="Menu SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Menu.sitemap"/>
			</providers>
		</siteMap>
		<httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/>
		<httpErrors errorMode="Detailed"/>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument></system.webServer></configuration>
